<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BillActivity"></activity>
        <activity
            android:name=".PurchaseMultipleGoods"
            android:label="@string/mainPage_purchasingGoodsMultipleButton"
            android:parentActivityName=".PurchaseFood"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PurchaseFood"
            android:label="@string/mainPage_purchasingFoodButton"
            android:parentActivityName=".PurchaseFood"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PurchaseGoods"
            android:label="@string/mainPage_purchasingGoodsButton"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/mainPage_title"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>